<%- include('./partials/head') %>

<section>
  <h1>Squadpage</h1>

  <h2>Studenten</h2>
  <ul class="student-list">
    <% persons.forEach(person => { %>
      <li class="students"><a href="./person/<%= person.id %>"><%= person.name %> <%= person.surname %></a></li>
    <% }) %>
  </ul>
</section>

<div class="light"></div>

<%- include('./partials/foot') %>