<%- include('./partials/head') %>

<a href="/" id="terug-button">Terug</a>

<section class="student-detailed">

  <div>
    <h2><%= person.name %></h2>

    <p>Squad: <%= person.squad_id %></p>
    
    <img src="<%= person.avatar.includes('https') ? person.avatar : '/images/person.png' %>" height="200px">
  </div>

</section>

<div class="planet">
  <img src="/images/saturn.png" alt="Saturnus on background">
</div>
<div class="gradient"></div>
<div class="light"></div>

<%- include('./partials/foot') %>